<div class="container" id="uploaded_area_container">
    {% for (user_filename, file_id, num_of_pages) in file_features %}
        <div class="row docblock">
            <div class="col">
                <li class="row">
                    <div class="content upload">
                        <i class="fas fa-file-alt"></i>
                        <div class="details">
                            <span class="name">{{ user_filename }}</span>
                            <span class="name">Страниц в документе: {{ num_of_pages }}</span>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col submit-block">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <form action="{{ url_for('file_printing.delete_file', file_id=file_id) }}"
                          name="{{ file_id }}"
                          method="post" onsubmit="return delete_file(this)">
                        <input type="submit" value="Удалить" class="submit-input"/>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>